.chat-input {
  display: inline-flex;
  width: 100%;
}

.chat-input *:not(:first-child) {
  margin-left: 20px;
}

.chat {
  height: 80%;
  overflow: auto;
  overflow:auto; 
  display:flex; 
  flex-direction:column-reverse;
}

.chat-internal > div {
  border-top: 1px solid #dddddd;
  padding: 0.3em 0;
  font-size: 18px;
}

.chat-internal :first-child {
  padding-bottom: 0.15em;
}


main {
  height: 100vh;
}

html {
  background: #eeeeee;
}

.weak {
  color: #999999;
  font-weight: 400;
  font-size: 0.8em;
}

br {
  user-select: none;
}
